<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>{{ page.title | default: site.title  }}</title>
    <link rel="stylesheet" href="/assets/css/blog.css">
  </head>
  <body>
    <article>
      <h1>{{ page.title }}</h1>

      <p clas="date">{{ page.date | date_to_string }}</p>

      {{ content }}

      <p class="p-final">
        <a href="/blog">&lt;&lt;&lt;文章列表</a>
      </p>
    </article>
    {% include footer.html %}
  </body>
</html>
